#footer {
    background: linear-gradient(90deg, #431d00 75%, #694213);
    color: rgb(255, 181, 0);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1rem;

    img {
        height: 45px;
        mix-blend-mode: luminosity;
        opacity: 0.5;
    }

    h1 {
        margin: 0;
        padding: 0 1rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .section {
        width: 200px;
        fa {
            color: #FFF;
            transition: all .12s;
            font-size: 2rem;
            &:hover {
                color: rgb(255, 181, 0);
            }
        }
    }

    ul {
        li {
            list-style: none;
            margin-left: -1rem;
            a {
                text-decoration: none;
                color: #FFF;
                transition: all .12s;
                &:hover {
                    color: rgb(255, 181, 0);
                }
            }
        }
    }

}