<div id="footer" class="brownBg">

  <div class="section">
    <h3>Company Info</h3>
    <ul>
      <li> <a href="https://www.ups.com/us/en/about.page"> About UPS </a> </li>
      <li> <a href="https://www.pressroom.ups.com"> Media Relations </a> </li>
      <li> <a href="http://www.investors.ups.com/"> Investor Relations </a> </li>
      <li> <a href="https://www.jobs-ups.com/location"> CareersOpen </a> </li>
      <li> <a href="https://sustainability.ups.com/"> Sustainability & Community Involvement </a> </li>
    </ul>
  </div>
  
  <div class="section">
      <h3>Connect with us</h3> &nbsp;
      <fa name="facebook"></fa> &nbsp;
      <fa name="twitter"></fa> &nbsp;
      <fa name="linkedin"></fa> &nbsp;
      <fa name="youtube"></fa> &nbsp;
    </div>

  <img src="assets/img/ups-logo.png"/>
</div>