<div id="home">

  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExample" data-slide-to="1"></li>
      <li data-target="#carouselExample" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/img/delivery-bg.jpg" alt="First slide">
        <div class="carouselInfo d-none d-md-block">
          <h2>Track your package</h2>
          <textarea placeholder="Enter your 25 digit tracking number..."></textarea>
          <button type="button" class="btn trackBtn">Track</button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/delivery-bg5.jpg" alt="Second slide">
        <div class="carouselInfo d-none d-md-block">
          <h2>Broad services for business shipping.</h2>
          <p>From packages to pallets, and local to global, get flexible, reliable and affordable shipping solutions that fit your business.</p>
          <button type="button" class="btn trackBtn">Shipping</button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/delivery-bg3.jpg" alt="Third slide">
        <div class="carouselInfo d-none d-md-block">
          <h2>Services</h2>
          <p>Accelerate your business. Put the power of expert shipping to work for you.</p>
          <button type="button" class="btn trackBtn">Check our services</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
