#home {
    .fullWidth {
        width: 100%;
        height: 400px;
    }
    .carousel-indicators {
        // width: 10px;
        // height: 10px;
    }

    h2 {
        color: #ffdd81;
    }

    .carousel-item { 
        background: linear-gradient(115deg, #000, #431d00);
        height: 500px;
        img {
            opacity: 0.85;
        }
        .carouselInfo {
            position: absolute;
            z-index: 10;
            bottom: 3rem;   
            left: 10%;
            background: rgba(67, 29, 0, 0.75);
            border-radius: 5px;
            color: #FFF;
            width: 300px;
            margin-top: -18rem !important;
            text-align: justify;
            padding: 2rem;
            textarea {
                // background: rgba(67, 29, 0, 0.75);
                background: transparent;
                color: #FFF;
                height: 8rem;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding: 0.2rem 0.5rem;
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.67);
                opacity: 1;
            }
            .trackBtn {
                background: #ffb500;
                color: #000;
                font-weight: 900;
            }
        }
    }
}