#header {
    background: linear-gradient(90deg, #431d00 75%, #694213);
    color: rgb(255, 181, 0);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1rem;

    img {
        height: 45px;
    }

    h2 {
        margin: 0;
        padding: 0 1rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffdd81;
    }

    ul {
        display: flex;
        li {
            list-style: none;
            padding: 0.5rem 1rem 0 1rem;
            font-weight: 700;
            font-size: 1.2rem;
            transition: all .17s;
            cursor: pointer;
            &:hover {
                color: #ffdd81;
            }
            &:last-child {
                padding-right: 2rem;
            }
        }
    }

}