@import "../node_modules/bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$oswald: 'Oswald', serif;
$workSans: 'Work Sans', serif;

body {
    margin: 0;
    padding: 0;
    font-family: $workSans;
}

h1, h2, h3, h4, h5, h6, {
    font-family: $oswald;
}

.brownBg {
    background: #431d00;
}

.yellowBg {
    background: rgb(255, 181, 0);
}

.brown {
    color: #431d00;
}

.lightBrown {
    color: #694213;
}

.darkOrange {
    color: #da9018;
}

.lightOrange {
    color: #e6a13b;
}

.yellow {
    color: #ffb500;
}

.lightyellow {
    color: #ffdd81;
}